.image-item {
    height: 150px;
    width: 150px;
    box-shadow: 0 0 10px #a5a5a5 inset;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-item__image {
        max-height: 150px;
        max-width: 150px;
    }
    &:hover {
        cursor: pointer;
    }
}