.add-files-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .add-files {
        width: 100%;
        max-width: 1000px;
        position: relative;
        .add-files__content {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 180px;
            align-items: center;
            margin: 10px;
            padding: 10px;
            border: 2px dashed #777777;
            .add-files__button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 5px;
                background: #fff;
                outline: none;
                height: 50px;
                width: 120px;
                color: #777777;
                border: 1px solid #777777;
                &:hover {
                    cursor: pointer;
                    background: #ececec;
                }
                &:active {
                    transform: scale(0.97);
                }
            }
        }
        .add-files-exit {
            font-size: 20px;
            position: absolute;
            right: 25px;
            top: 20px;
            &:hover {
                cursor: pointer;
            }
            transition: 0.3s;
        }
    }
}
